# Данные для Django
DEBUG=False
SECRET_KEY='Your Django key'
ALLOWED_HOSTS=127.0.0.1,localhost,etc,
# Данные для PostgreSQL
POSTGRES_DB=currency
POSTGRES_USER=currency_user
POSTGRES_PASSWORD=currency_password
DB_HOST=localhost
PORT=5432
# Данные для Celery
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=db+postgresql+psycopg2://currency_user:currency_password@db:5432/currency